@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", serif;
}
body {
  background: linear-gradient(#aa076b, #61045f);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  font-size: 30px;
}
