@import url("https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Teko", serif;
}

body {
  background: linear-gradient(#da4453, #89216b);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
 font-size: 30px;
}