* {
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(#c94b4b, #4b134f);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.date-container {
  background-color: #fff;
  width: 300px;
  border-radius: 8px;
  text-align: center;
  overflow: hidden;
}
.month {
  background: orangered;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.day-number {
  font-size: 70px;
  margin: 30px 0;
  font-weight: bold;
}
.day-name {
  color: darkgray;
}
.year {
  color: darkgray;
}
