* {
  font-family: sans-serif;
}

body {
  background-image: linear-gradient(#ff512f, #f09819);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #fff;
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.month {
  background-color: rgb(212, 150, 34);
  padding: 10px;
  color: #fff;
  font-weight: bold;   
  font-size: 30px;
}

.day {
   font-size: 20px;
  opacity: 0.3;
}
.number {
  font-weight: bold;
  font-size: 80px;
  margin: 0;
}
.year {
  opacity: 0.3;
  margin: 20px 0;
  font-size: 20px;
}
